﻿
@{
    ViewBag.Title = "CrearPaciente";
}


<form action="~/Pacientes/CrearPaciente" method="post">

    <fieldset>
        <legend> Creacion de pacientes</legend>

        <div class="row">
            <div class="col-md-4">
                <label for="Nombres"> Nombres: </label>
                <input type="text" name="Nombres" value="" />
            </div>
            <div class="col-md-4">
                <label for="Apellido1"> 1er. Apellido: </label>
                <input type="text" name="Apellido1" value="" />
            </div>

            <div class="col-md-4">
                <label for="Apellido2"> 2do. Apellido: </label>
                <input type="text" name="Apellido2" value="" />
            </div>

        </div>
        <br />

        <div class="row">
            <div class="col-md-4">
                <label for="FechaNacimiento"> Fecha Nacimiento: </label>
                <input type="date" name="FechaNacimiento" value="" />
            </div>

            <div class="col-md-4">
                <label for="Cedula"> Cedula: </label>
                <input type="text" name="Cedula" value="" />
            </div>
            <div class="col-md-4">
                <label for="Telefono"> Telefono: </label>
                <input type="text" name="Telefono" value="" />
            </div>


        </div>
        <br />

        <div class="row">
            <div class="col-md-4">
                <label for="Direccion"> Direccion: </label>
                <input type="text" name="Direccion" value="" />
            </div>
            <div class="col-md-4">
                <label for="Sector"> Sector: </label>
                <input type="text" name="Sector" value="" />
            </div>

            <div class="col-md-4">
                <label for="ProvinciaId"> Provincia: </label>
                <input type="text" name="ProvinciaId" value="" />
            </div>

            <div class="col-md-4">
                <label for="ArsId"> ARS: </label>
                <input type="text" name="ArsId" value="" />
            </div>
        </div>
        <br />

        

    </fieldset>




    <div>
        <label>&nbsp;</label>
        <input type="submit" value="Submit" class="submit" />
    </div>
</form>