﻿
@{
    ViewBag.Title = "Index";
}

<hr />
<h2>Listado de pacientes</h2>
<hr />
<a href="~/Pacientes/CrearPaciente" class="btn btn-lg">Crear paciente</a>
<br /><br />
<table id="PacientesTable" class="tab-content table ">
    <thead>
       
    </thead>
    <tbody>
        
    </tbody>
</table>

@section scripts{


    <script>
        $(document).ready(function () {
           
            $("#PacientesTable").DataTable({
                
                "order": [[0, "desc"]],
                "searching": true,
                'responsive': true,
                "processing": true,
                'language': {
                    url: '/Content/DataTables/TraductorDataTable.json' //Ubicacion del archivo con el json del idioma.
                },
                ajax: {
                    url: "/Pacientes/AllPacientes",
                    type: "GET",
                    datatype: "json",
                    dataSrc: ""
                },

                columns: [
                    {
                        title: 'No. Paciente',
                        data: 'PacienteId'
                    },
                    {
                        title: 'Nombres',
                        data: 'Nombres'
                    },
                    {
                        title: '1er. Apellido',
                        data: 'Apellido1'
                    },
                    {
                        title: '2do. Apellido',
                        data: 'Apellido2'
                    },
                    {
                        title: 'Fecha Nacimiento',
                        data: 'FechaNacimiento'
                    },
                    {
                        title: 'Cedula',
                        data: 'Cedula'
                    },
                    {
                        title: 'Telefono',
                        data: 'Telefono'
                    },
                    {
                        title: 'Direccion',
                        data: 'Direccion'
                    },
                    {
                        title: 'Sector',
                        data: 'Sector'
                    },
                    {
                        title: 'Provincia',
                        data: 'Provincia'
                    },
                    {
                        title: 'ARS',
                        data: 'ARS'
                    },
                ]
            });


          
        });

    </script>


}